<div class="container">
    <h1 class='welcome-text'>Organize it all with CheckIt </h1>
    <div class="img-fluid">
     <%= render 'check' %>
    </div>
   
    <div class='intro'>
        <div class="card">
            <div class="card-header">
            Featured
            </div>
            <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p >
            Online to-do list for today's workplace
            Plan, manage and track all your team's to-do's and checklists in one flexible software.
            </p>
            <%= link_to "Get Started", new_user_path, class:"btn btn-secondary" %>
            </div>
        </div>
    </div>   
</div>



